
.about-section {
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.about-section h1 {
    font-size: 36px;
    color: #a55a6d;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 18px;
    color: #444;
    line-height: 1.7;
}


.about-section img {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .about-section h1 {
        font-size: 28px;
    }

    .about-section p {
        font-size: 16px;
    }
}
